@import url('./reset.css');
ul {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}

li:hover {
  color: #4e75ff;
}
/* Timer 1 */
.timer-body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 30px;
  align-items: center;
}

.input-btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#datetime-picker {
  font-family: 'Montserrat', sans-serif;
  width: 272px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

#datetime-picker:hover {
  border: 1px solid #000000;
}

#datetime-picker:active {
  border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  background: #fafafa;
  color: #808080;
}

.timer-body button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.timer-body button:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer-body button:hover {
  background: #6c8cff;
  color: #fff;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}

/* Snackbar 2 */
.snackbar {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
}

.form {
  width: 360px;
  text-align: left;
}

.num-input {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border: 1px solid #808080;
  outline: none;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.num-input:hover {
  border-color: #000;
}
.num-input:focus-within {
  border-color: #4e75ff;
}

button[type='submit'] {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 300ms ease;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}

fieldset legend {
  margin-left: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

fieldset {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 64px;
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 24px 8px 48px;
  margin-bottom: 24px;
}
